* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;

  background: #001e44;
}

.quiz_container {
  background: #fff;
  overflow: hidden;
  width: 90%;
  min-height: 600px;
  max-width: 700px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 10px;
}

.quiz_container_header {
  padding-bottom: 20px;
  border-bottom: 3px solid #333;
  margin-bottom: 20px;
}

.quiz_container_body {
  margin-bottom: 40px;
}

.quiz_title {
  font-size: 2.5rem;
  color: #001e4d;
}

.quiz_question {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #001e4d;
}

.quiz_option_list {
  width: 100%;
}

.quiz_option_list_item {
  border: 2px solid #333;
  margin-bottom: 20px;

  padding: 15px 10px;
  list-style: none;
  font-size: 1.3rem;

  cursor: pointer;
  transition: all 0.3s;
}

.quiz_option_list_item:hover {
  background: #222;
  color: #fff;
}

.quiz_container_footer {
  text-align: center;
}

.submit_button {
  width: 150px;
  height: 50px;
  font-size: 1.3rem;
  background: #001e4d;
  color: #fff;
  border: 1px solid #222;
  font-weight: 550;
}

.hidden {
  display: none;
}
.correct_answer {
  background-color: #9aeabc;
}

.wrong_answer {
  background-color: #ff9393;
}

.click_disabled {
  pointer-events: none;
}
